<div class="trims-download-dialog-container">
  <div class="download-dialog-title">
    下载 Trims
  </div>
  <div class="download-dialog-item clearfix">
    <div class="pull-left">
      <span class="name">Trims&nbsp;</span><span>for Windows</span>
    </div>
    <div class="pull-right">
      <a href="javascript:;" class="trims-link trims-web-link link">点击下载</a>
    </div>
  </div>

  <div class="download-dialog-item clearfix">
    <div class="pull-left">
      <span class="name">Trims&nbsp;</span><span>for Mac</span>
    </div>
    <div class="pull-right">
      <a href="javascript:;" class="trims-link trims-web-link link">点击下载</a>
    </div>
  </div>

  <div class="download-dialog-item clearfix">
    <div class="pull-left">
      <span class="name">Trims&nbsp;</span><span>for Linux</span>
    </div>
    <div class="pull-right">
      <a href="javascript:;" class="trims-link trims-web-link link">点击下载</a>
    </div>
  </div>
</div>
