<div>
	<div style="width: 100%; height: 53px;">
		<div style="margin-top: 4px;">
			<div style="float: left;">
				<img style="width: 34px; height: 34px; border-radius: 17px; margin-left: 15px; margin-top: 8px;" src="images/avatar.jpg">
			</div>
			<div style="float: left;">
				<div style="margin-top: 11px; margin-left: 10px;">
					<p style="font-size: 12px; font-weight: bold;">{{preview.author}}</p>
					<div style="float: left;">
						<p style="font-size: 10px; margin-top: -12px; color: #BEBEBE;">{{preview.date}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<table style="width: 100%;">
		<tbody>
			<tr>
				<td>
					<div style="margin-left: 18px; width: 348px;">
						<div style="display: inline-block; width: 110px; height: 110px; text-align: center; line-height: 110px;">
							<div>
								<div class="trims-design-preview-border" style="display: inline-block; vertical-align: middle; width: 110px; height: 44px; background-image: url(images/design3.png); background-size: 110px auto; text-align: left; position: relative;">
									<div style="position: absolute; left: 3px; bottom: 3px; width: 20px; height: 20px; background-image: url(images/lock.png); background-size: 20px 20px;"></div>
								</div>
							</div>
						</div>
						<div style="display: inline-block; margin-left: 3px; height: 110px; vertical-align: top;">
							<div style="margin-top: -11px;">
								<div style="margin-left: 2px;">
									<span class="trims-preview-name-mark-orange">○</span>
									<span class="trims-preview-name">{{preview.updates[0].fileName}}</span>
								</div>
								<div>
									<span style="width: 191px; display: inline-block; margin-left: 4px; color: #7D7D7D; font-size: 12px; vertical-align: top;">新增了第一版的标志方案；修正了图标集的问题。</span>
								</div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div style="width: 7px; text-align: center;">
						<img style="width: 1px; height: 110px;" src="images/divider2.png">
					</div>
				</td>
				<td>
					<div style="margin-left: 18px; width: 348px;">
						<div style="display: inline-block; width: 110px; height: 110px; text-align: center; line-height: 110px;">
							<div>
								<div class="trims-design-preview-border" style="display: inline-block; vertical-align: middle; width: 110px; height: 82px; background-image: url(images/design10.png); background-size: 110px auto; text-align: left; position: relative;">
									<div style="position: absolute; left: 3px; bottom: 3px; width: 20px; height: 20px; background-image: url(images/lock.png); background-size: 20px 20px;"></div>
								</div>
							</div>
						</div>
						<div style="display: inline-block; margin-left: 3px; height: 110px; vertical-align: top;">
							<div style="margin-top: -11px;">
								<div style="margin-left: 2px;">
									<span class="trims-preview-name-mark-orange">○</span>
									<span class="trims-preview-name">{{preview.updates[1].fileName}}</span>
								</div>
								<div>
									<span style="width: 191px; display: inline-block; margin-left: 4px; color: #7D7D7D; font-size: 12px; vertical-align: top;">修正了底栏的问题。</span>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
		<img style="height: 1px; margin-top: 14px;" src="images/divider3.png">
	</div>
</div>