<div style="width: 100%; height: 600px;">
	<div class="trims-thin-border" style="height: 46px; background-color: #F4F4F4; border-top-left-radius: 6px; border-top-right-radius: 6px;">
		<table style="width: 100%; height: 100%;">
			<tbody>
				<tr>
					<td style="width: 33%;">
						<div>
							<button type="button" class="trims-btn" style="margin-left: 11px; vertical-align: middle; width: 64px; height: 28px; font-size: 12px;">
								取消
							</button>
						</div>
					</td>
					<td style="width: 33%;">
						<div style="text-align: center;">
							<p style="vertical-align: middle; margin-bottom: 0px; font-size: 15px;">更新本地文件</p>
						</div>
					</td>
					<td style="width: 33%;">
						<div style="text-align: right;">
							<button type="button" class="trims-btn" style="margin-right: 11px; vertical-align: middle; width: 84px; height: 28px; font-size: 12px; background-color: #27B3FC; color: #FFFFFF;">
								下一步
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<trimshistorypreview ng-repeat="preview in updatePreviewList"></trimshistorypreview>
	<div style="width: 100%; height: 53px;">
		<div style="margin-top: 4px;">
			<div style="float: left;">
				<img style="width: 34px; height: 34px; border-radius: 17px; margin-left: 15px; margin-top: 8px;" src="images/avatar.jpg" />
			</div>
			<div style="float: left;">
				<div style="margin-top: 11px; margin-left: 10px;">
					<p style="font-size: 12px; font-weight: bold;">Evan Fung</p>
					<div style="float: left;">
						<p style="font-size: 10px; margin-top: -12px; color: #BEBEBE;">2015-2-11 1:41</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<table style="width: 100%;">
		<tbody>
			<tr>
				<td>
					<div style="margin-left: 18px; width: 347px;">
						<div style="display: inline-block; width: 110px; height: 110px; text-align: center; line-height: 110px;">
							<div class="trims-design-preview-border" style="display: inline-block; vertical-align: middle; width: 45px; height: 110px; background-image: url(images/design11.png); background-size: auto 110px; text-align: left; position: relative;">
								<div style="position: absolute; left: 3px; bottom: 3px; width: 20px; height: 20px; background-image: url(images/lock.png); background-size: 20px 20px;"></div>
							</div>
						</div>
						<div style="display: inline-block; margin-left: 3px; height: 110px; vertical-align: top;">
							<div style="margin-top: -11px;">
								<div style="margin-left: 2px;">
									<span class="trims-preview-name-mark-orange">●</span>
									<span class="trims-preview-name">landing.psd</span>
								</div>
								<div>
									<span style="width: 191px; display: inline-block; margin-left: 4px; color: #7D7D7D; font-size: 12px; vertical-align: top;">用户登录完成后的 landing page 方案。</span>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>