<div class="footer-wrapper">
  <div class="footer footer-default">
    <div class="left">
      <span>2015 © Trims, All rights reserved. 备案信息</span>
    </div>
    <div class="right">
      <a href="javascript:;" class="trims-link trims-web-link">隐私政策</a>
      <a href="javascript:;" class="trims-link trims-web-link">帮助</a>
      <a href="javascript:;" class="trims-link trims-web-link">工作机会</a>
      <a href="javascript:;" class="trims-link trims-web-link">企业版</a>

      <a href="javascript:;" class="trims-link trims-web-link">特性</a>
      <a href="javascript:;" class="trims-link trims-web-link">登录</a>
      <a href="#/register" class="trims-link trims-web-link">注册</a>
      <a href="javascript:;" class="trims-link trims-web-link">下载 Trims</a>
    </div>
  </div>
</div>
