<div style="background: #f8f8f8; width: 100%; height: 100%; padding: 35px 0 0 40px;">
  <img src="images/welcom/logo.png" style="width: 120px; height: 35px;">
  <div>
    <p class="trims-label" style="margin-top: 10px;">Web 版标准控件</p>
  </div>
  <div>
    <!------------------------    按钮1    ------------------------>
    <p class="trims-label-primary">按钮1</p>
    <table class="trims-test-table">
      <tr>
        <th>一般</th>
        <th>不可用 失焦</th>
        <th>载入中</th>
      </tr>
      <tr>
        <td>
          <button class="trims-btn trims-web-btn trims-web-btn-default">完成<i class="icon-arrow-right"></i></button>
        </td>
        <td>
          <button class="trims-btn trims-web-btn trims-web-btn-default" disabled="true">完成<i class="icon-arrow-right"></i></button>
        </td>
        <td>
          <button class="trims-btn trims-web-btn trims-web-btn-default loading" disabled="true"></button>
        </td>
      </tr>
    </table>

    <!------------------------    按钮2    ------------------------>
    <p class="trims-label-primary">按钮2</p>
    <table class="trims-test-table">
      <tr>
        <th>一般</th>
        <th>不可用 失焦</th>
        <th>载入中</th>
      </tr>
      <tr>
        <td>
          <button class="trims-btn trims-web-btn trims-web-btn-big"><span class="trims-btn-title">确认计划</span><span class="trims-btn-title-sub">5GB</span><i class="icon-arrow-right"></i></button>
        </td>
        <td>
          <button class="trims-btn trims-web-btn trims-web-btn-big" disabled="true"><span class="trims-btn-title">确认计划</span><span class="trims-btn-title-sub">5GB</span><i class="icon-arrow-right"></i></button>
        </td>
        <td>
          <button class="trims-btn trims-web-btn trims-web-btn-big loading" disabled="true"></button>
        </td>
      </tr>
    </table>

    <!------------------------    链接    ------------------------>
    <p class="trims-label-primary">链接</p>
    <table class="trims-test-table">
      <tr>
        <th>一般</th>
        <th>不可用</th>
      </tr>
      <tr>
        <td>
          <a href="javascript:;" class="trims-link trims-web-link">修改</a>
        </td>
        <td>
          <a href="javascript:;" class="trims-link trims-web-link" disabled="true">修改</a>
        </td>
      </tr>
    </table>

    <!------------------------    文本框    ------------------------>
    <p class="trims-label-primary">文本框</p>
    <table class="trims-test-table">
      <tr>
        <th>一般</th>
        <th>不可用</th>
      </tr>
      <tr>
        <td>
          <div trims-input-box class="trims-input-box trims-web-input-box" type="email" value="emailbox" required="true" disabled="false" placeholder="邮箱地址"></div>
        </td>
        <td>
          <div trims-input-box class="trims-input-box trims-web-input-box" type="email" value="emailbox" required="true" disabled="true" placeholder="邮箱地址"></div>
        </td>
      </tr>
    </table>

    <!------------------------    按钮3    ------------------------>
    <p class="trims-label-primary">按钮3</p>
    <table class="trims-test-table">
      <tr>
        <th>一般</th>
        <th>不可用 失焦</th>
      </tr>
      <tr>
        <td>
          <button class="trims-btn trims-web-btn trims-web-btn-primary">腰细<i class="icon-arrow-right"></i></button>
        </td>
        <td>
          <button class="trims-btn trims-web-btn trims-web-btn-primary" disabled="true">腰细<i class="icon-arrow-right"></i></button>
        </td>
      </tr>
    </table>

    <!------------------------    提示    ------------------------>
    <p class="trims-label-primary">提示</p>
    <table class="trims-test-table">
      <tr>
        <td>
          <a href="javascript:;" class="trims-link trims-web-link" ng-click="openInfoDialog()">打开提示</a>
        </td>
      </tr>
    </table>
  </div>
</div>
