<!-- Header -->
<trims-header class="white-header"></trims-header>

<!-- Content -->
<div class="main-section-wrapper banner">
	<div class="main-section-content clearfix">
		<div class="title-wrapper">
			<span class="blue-border-bottom">连接</span>设计师与工程师。
		</div>
		<div class="button-wrapper">
			<button class="trims-btn trims-web-btn trims-web-btn-big"><span class="trims-btn-title">开始使用</span><span class="trims-btn-title-sub">免费</span><i class="icon-arrow-right"></i></button>
			<div class="intro-text-12">Windows, Mac, Linux</div>
		</div>
	</div>
</div>

<div class="main-section-wrapper svn">
	<div class="main-section-image">
	</div>
	<div class="main-section-content">
		<div class="title-wrapper">
			<div class="lighter">简明强大协同构建</div>
			<div class="bold">版本控制</div>
		</div>
		<div class="image-wrapper">
		</div>	
		<div class="line-wrapper"></div>
		<div class="intro-wrapper" style="width: 185px;">
			<div class="bold">文件版本和回滚</div>
			<div class="normal intro-text-14">利用 Trims 方便的对方案文件进行协同编辑和版本同步，或是回溯至以前的版本。</div>
			<div class="mt20"><a href="javascript:;" class="trims-link trims-web-link">了解更多</a></div>
		</div>
	</div>
</div>

<div class="main-section-wrapper team">
	<div class="main-section-image">
	</div>
	<div class="main-section-content">
		<div class="title-wrapper">
			<div class="lighter">高效团队流水线</div>
			<div class="bold">多方文件交接</div>
		</div>
		<div class="image-wrapper">
		</div>
		<div class="line-wrapper"></div>
		<div class="intro-wrapper" style="width: 185px;">
			<div class="bold">更新信息</div>
			<div class="normal intro-text-14">利用 Trims 方便的对方案文件进行协同编辑和版本同步，或是回溯至以前的版本。</div>
			<div class="mt20"><a href="javascript:;" class="trims-link trims-web-link">了解更多</a></div>
		</div>
	</div>
</div>

<div class="main-section-wrapper resource">
	<div class="main-section-image">
	</div>
	<div class="main-section-content">
		<div class="title-wrapper">
			<div class="lighter">智能生成开发资源</div>
			<div class="bold">预览和切图</div>
			<a href="javascript:;" class="trims-link trims-web-link">了解更多</a>
		</div>
		<div class="line-wrapper first"></div>
		<div class="intro-wrapper first" style="width: 270px;">
			<div class="bold">选取，取色，测量</div>
			<div class="normal intro-text-14">利用 Trims 方便的对方案文件进行协同编辑和版本同步，或是回溯至以前的版本。</div>
		</div>

		<div class="line-wrapper second"></div>
		<div class="intro-wrapper second" style="width: 270px;">
			<div class="bold">完整查看</div>
			<div class="normal intro-text-14">利用 Trims 方便的对方案文件进行协同编辑和版本同步，或是回溯至以前的版本。</div>
		</div>

		<div class="line-wrapper third"></div>
		<div class="intro-wrapper third" style="width: 270px;">
			<div class="bold">检查样式</div>
			<div class="normal intro-text-14">利用 Trims 方便的对或是回溯至以前的版本。</div>
		</div>
	</div>
</div>

<div class="main-section-wrapper function">
	<div class="main-section-content clearfix">
		<div class="tile-wrapper software">
			<div class="tile-icon software"></div>
			<div class="tile-title bold">
				无需 Photoshop 和 Sketch
			</div>
			<div class="tile-content">利用 Trims 方便的对方案文件进行协同编辑和版本同步，或是回溯至以前的版本。</div>
		</div>
		<div class="tile-wrapper os">
			<div class="tile-icon os"></div>
			<div class="tile-title bold">
				支持 Windows, Mac 和 Linux
			</div>
			<div class="tile-content">利用 Trims 方便的对方案文件进行协同编辑和版本同步，或是回溯至以前的版本。</div>
		</div>
		<div class="tile-wrapper speed">
			<div class="tile-icon speed"></div>
			<div class="tile-title bold">
				大文件超高速同步
			</div>
			<div class="tile-content">利用 Trims 方便的对方案文件进行协同编辑和版本同步，或是回溯至以前的版本。</div>
		</div>
		<div class="tile-wrapper format">
			<div class="tile-icon format"></div>
			<div class="tile-title bold">
				支持多种工程文件格式
			</div>
			<div class="tile-content">利用 Trims 方便的对方案文件进行协同编辑和版本同步，或是回溯至以前的版本。</div>
		</div>
	</div>
</div>

<div class="main-section-wrapper know">
	<div class="main-section-content">
		<div class="title-wrapper">
			<div class="lighter">还没决定？</div>
			<div class="more bold">进一步了解 Trims 的强大功能</div>
		</div>
		<div class="icon-wrapper clearfix">
			<div class="icon svn" style="margin-right: 27px;"></div>
			<div class="icon people" style="margin-right: 27px;"></div>
			<div class="icon box"></div>
		</div>
	</div>
</div>

<!-- Footer -->
<trims-footer></trims-footer>